@font-face {
    font-family: BebasNeue;
    src: url('/static/fonts/BebasNeue-Bold.ttf') format('truetype');
    font-style: normal; 
    font-weight: normal;
}
.center {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: 'BebasNeue';
  color: black;
}
.name {
  background-image: repeating-linear-gradient(45deg, #ff9100 -13px, #ff9100 10px, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 1) 25px);
  font-size: 1em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: black;
}
.top3 .item {
  box-sizing: border-box;
  position: relative;
  background: #e8e9dd;
  width: 9rem;
  height: 10rem;
  text-align: center;
  padding: 2.8rem 0 0;
  margin: 1rem 1rem 2rem;
  transform-origin: bottom;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  box-shadow: 12px 12px 0px 0px #fffb00;
  border: 1px solid black;
}
.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pos {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: gold;
  text-shadow: rgba(0, 0, 0, 0.445) 1px 1px 1px;
}
.top3 .item .name {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.top3 .item .score {
  opacity: 1;
}
.top3 .item .score:after {
  display: block;
  content: 'промокодов';
  opacity: 1;
}
.top3 .item.one {
  width: 10rem;
  height: 11rem;
  padding-top: 3.5rem;
}
.top3 .item.one .pic {
  width: 5rem;
  height: 5rem;
  left: 2.5rem;
}
.top3 .item:hover {
  transform: scale(1.05);
}
.list {
  padding-left: 2rem;
  margin: 0 auto;
}
.list .item {
  position: relative;
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 4rem;
  margin-bottom: 2rem;
  transform-origin: left;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  background-color: #e8e9dd;
  box-shadow: 12px 12px 0px 0px #fffb00;
  border: 1px solid black;
}
.list .item .pos {
  font-weight: 900;
  position: absolute;
  left: -2rem;
  text-align: center;
  font-size: 1.25rem;
  width: 1.5rem;
  color: #e8e9dd;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.list .item .pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.list .item .name {
  flex-grow: 2;
  flex-basis: 10rem;
  font-size: 1.1rem;
}
.list .item .score {
  margin-right: 1.5rem;
  opacity: 1;
}
.list .item .score:after {
  margin-right: 1rem;
  content: ' промокодов';
  opacity: 1;
}
.list .item:hover {
  transform: scale(1.05);
}
.list .item:hover .pos {
  opacity: 1;
}
