{% extends 'pattern.html' %}

{% block links_scripts %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@300;400&family=Open+Sans:wght@500&display=swap');
</style>

<link href="/static/css/make_post.css" type="text/css" rel="stylesheet">
<script src="/static/js/make_post.js"></script>
{% endblock %}


{% block title%}
    Make your Post!
{% endblock %}

{% block body%}
<form method="POST">
<div class="blog_body">
    <div class="blog">
        <!--borders-->
        <div class="border1"></div>
        <div class="border2"></div>
        <div class="border3"></div>
        <div class="border4"></div>
        <div class="border5"></div>
        <div class="border6"></div>
        <div class="border7"></div>
        <!--borders end-->
        <!--stripes-->
        <div class="stripes_top">
            <p class="thing" style="height: 0.6rem;background-color: #fffb00;border-right: 1px solid #94918f;border-bottom: 2px solid #94918f; margin-bottom: 50px;"></p>
            <p class="blog-menu thing" style="max-width: 130px;margin-bottom: -5px;"></p>
            <p class="blog-menu thing" style="max-width: 70px;margin-bottom: -5px;"></p>
            <p class="blog-menu thing" style="max-width: 90px;margin-bottom: -5px;"></p>
            <p class="blog-menu thing" style="max-width: 115px;margin-bottom: -5px;"></p>
            <p class="blog-menu thing" style="max-width: 50px;margin-bottom: -5px;"></p>
        </div>
        <div class="stripes_bottom">
            <p class="blog-menu mention thing" style="max-width: 120px;margin-bottom: -13px;background-color: #fffb00;border-right: 2px solid #94918f;border-bottom: 2px solid #94918f; margin-bottom: 1%;"></p>
            <p class="blog-menu thing" style="max-width: 100px;background-color: #fffb00;border-right: 2px solid #94918f;border-bottom: 2px solid #94918f;"></p>
        </div>
        <!--stripes end-->
        <!--blog content-->
        
        <div class="title">
            <div class="title_style"><input type ="text" name="title" id="title" placeholder="Пример титульника"></div>
        </div>
        
        <div class="intro_and_text">
            <h1>&nbsp;&nbsp;&nbsp;<textarea oninput="auto_grow(this)" type ="text" name="intro" id="intro" placeholder="«Пример краткого описания поста (ковычки не ставить, появятся сами)»"></textarea></h1>
            <p><textarea oninput="auto_grow(this)" type ="text" name="text" id="text" placeholder="Пример полного описания поста. При заполнении этих строк вы сможете сразу посмотреть, как пост будет выглядеть!"></textarea></p>
        </div>
        <div class="tag">
            <p><textarea type ="text" name="tag" id="tag" placeholder="тэг"></textarea></p>
        </div>
        <div class="date">
            <p>0000-00-00</p>
        </div>
        <div class="crawl">
            <marquee>
                <span>Самый крутой вейпшоп</span>
                <span>Как и сайт для него!</span>
                <span>Наверное, нужно лайкнуть меня</span>
            </marquee>
        </div>
        <div class="img_url"><input type ="text" name="img_url" id="img_url"></div>
        <div class="number">
            <div class="number_style">
                NO<span style="color:#fffb00;text-shadow: 1px 1px black;">.</span>00
            </div>
        </div>
        <!--blog content end-->
    </div>
    <button type ="submit" class="custom-btn btn-16">Запостить</button>
</div>
</form>
{% endblock %}