{% extends 'pattern.html' %}

{% block links_scripts %}
<link href="../static/css/fire.css" type="text/css" rel="stylesheet">
<link href="../static/css/posts.css" type="text/css" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&display=swap');
</style>
{% endblock %}

{% block title%}
Edit your Post!
{% endblock %}


{% block body%}

    <section class="cards-wrapper">
        {% for element in articles %}
        <div class="card-grid-space">
            {% if element.number < 10 %}
            <div class="num">0{{ element.number }}</div>
            {% else %}
            <div class="num">{{ element.number }}</div>
            {% endif %}
            <a class="card" href="/posts/{{ element.number }}"
                style="--bg-img: url({{ element.img_url }})">
                <div>
                    <h1>{{ element.title  }}</h1>
                    <p>{{ element.intro  }}...</p>
                    <div class="date">{{ element.date.date() }}</div>
                    <div class="tags">
                        <div class="tag">{{ element.tag }}</div>
                    </div>
                </div>
                <!--огонь-->
                {% if time_checker(element) %}
                <div class="new_post" style="left: 5%;">
                    <div class="fire">
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                    </div>
                </div>
                <div class="new_post" style="left: 30%; bottom: -25%;">
                    <div class="fire">
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                    </div>
                </div>
                <div class="new_post" style="left: 50%; bottom: -15%;">
                    <div class="fire">
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                    </div>
                </div>
                <div class="new_post" style="left: 70%; bottom: -25%;">
                    <div class="fire">
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                    </div>
                </div>
                <div class="new_post" style="left: 95%;">
                    <div class="fire">
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                    </div>
                </div>
                {% endif %}
                <!--конец огня-->
            </a>
        </div>
        {% endfor %}
    </section>

</div>
{% endblock %}